# x-ui Web 面板宿主机访问端口：浏览器打开 http://<server-ip>:25143
XUI_PANEL_PORT=25143

# 预留给 v2rayNG 节点的常用入站端口，可在 x-ui 面板中按需创建/修改。
VLESS_TCP_PORT=10086
REALITY_TLS_PORT=9443

# 当前 x-ui 已创建的电脑端/移动端节点端口，必须被 Docker 发布，否则扫码后连不上。
XUI_DESKTOP_NODE_PORT=46274
XUI_MOBILE_NODE_PORT=25776
